{% extends "base.html" %}
{% block title %}
    Обо мне
{% endblock %}

{% block body %}

<div class="text-center bg-body-tertiary">
    <div class="container py-5">
      <h1 class="text-body-emphasis">Меня зовут Елена</h1>
      <p class="col-lg-8 mx-auto lead">
        Я системный аналитик и люблю развивать свои скиллы. Я надеюсь в будущем стать тимлидом и управлять командой аналитиков или стать архитектором. Для этого я прохожу разные курсы.
      </p>
        <h2 class="text-body-emphasis">Курсы</h2>
      <p class="col-lg-8 mx-auto lead">
        <ul class="list-group">
            <li class="list-group-item"><a href="https://otus.ru/lessons/system-analyst-team-lead/" target="_blank">Системный аналитик. Team Lead</a></li>
            <li class="list-group-item"><a href="https://skillbox.ru/course/software-architect/" target="_blank">Архитектор ПО</a></li>
        </ul>
      </p>
        <h2 class="text-body-emphasis">Увлечения</h2>
        <p class="col-lg-8 mx-auto lead">
            Помимо работы люблю путешествовать и активные виды спорта.
        </p>
    </div>
  </div>
{% endblock %}
