{% extends "base.html" %}
{% block title %}
    Сайт
{% endblock %}

{% block body %}

<div class="text-center bg-body-tertiary rounded-3">
    <img src="static/images/logo.png" class="bi mt-4 mb-3" width="100" height="100">
    <h1 class="text-body-emphasis">Добро пожаловать!</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
      Здесь ты можешь посмотреть выполненное мной домашнее задание
    </p>
    <div class="d-inline-flex gap-2 mb-5">
        <a class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" href="https://github.com/malenok0811/homework/" target="_blank">Проект на GitHub</a>
      <a class="btn btn-outline-secondary btn-lg px-4 rounded-pill" href="contact.html">Контакты</a>
    </div>
  </div>


<div class="container">
  <!-- Example row of columns -->
  <div class="row">

    <div class="col-lg-3">
      <h2>Я научилась</h2>
      <p>Настраивать окружение для работы с проектом</p>
    </div>

    <div class="col-lg-3">
      <h2>Я создала</h2>
      <p>Проект и залила его на GitHab </p>
    </div>

    <div class="col-lg-3">
      <h2>Я настроила</h2>
      <p>GitHub pages и CI/CD/CD</p>
   </div>
      
   <div class="col-lg-3">
      <h2>Я сделала</h2>
      <p>Сайт со своим контентом</p>
   </div>

  </div>
</div>
{% endblock %}
